html body {
  margin: 0;
  padding: 0;
  background-color: white;
}

#form-product {
  position: relative;
  top: 50px;
  left: 15px;
}

#form-product label {
  font-family: "Roboto";
  color: gray;
}

#form-product input {
  background-color: rgba(0, 255, 255, 0.048);
  display: block;
  border: none;
  border-radius: 15px;
  outline: rgba(0, 0, 0, 0);
  margin-bottom: 10px;
  padding: 5px;
  font-family: "Roboto";
  width: 200px;
  height: 22px;
}

#agregar {
  font-family: "Roboto";
  width: 208px;
  height: 28px;
  border: hidden;
  border-radius: 15px;
  background-color: rgb(54, 54, 250);
  color: white;
}

#products {
  width: 60%;
  position: relative;
  left: 300px;
  bottom: 200px;
}

#products h1 {
  font-family: "Roboto";
  font-size: 2em;
  position: relative;
  left: 34%;
  font-weight: 600;
}

#list-products {
  position: relative;
  left: 20%;
}

#list-products label {
  font-family: "Roboto";
}

#list-products li {
  list-style-type: none;
}

#price {
  position: relative;
  left: 35%;
  background-color: rgb(29, 207, 29);
  color: white;
  top: 6px;
  font-size: 1.1em;
  padding: 3px;
  border: 1px solid gray;
  border-radius: 15px;
}

#view {
  border: 1px solid;
  border-style: inset;
  width: 35%;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#destroy {
  background-color: rgba(255, 0, 0, 0.719);
  color: white;
  font-family: "Roboto";
  border: hidden;
  border-radius: 15px;
}

#cont-filters {
  background-color: white;
  position: relative;
  left: 25%;
}

#filters li {
  display: inline;
}

#filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  font-family: "Roboto";
}

#list-products li.completed label {
  color: #cdcdcd;
  text-decoration: line-through;
}

.hidden {
  display: none;
}

#agregar:hover {
  background-color: blue;
  cursor: pointer;
}

#form-product input:focus {
  border: 1px solid rgb(165, 164, 164);
  background-color: rgba(128, 128, 128, 0.315);
}

#form-product input:hover {
  background-color: rgba(128, 128, 128, 0.315);
}

#destroy:hover {
  cursor: pointer;
  background-color: red;
  font-size: 1.2em;
}

#filters a:hover {
  background-color: rgba(128, 128, 128, 0.521);
  cursor: pointer;
}

#filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
  border-style: inset;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
